header {
	padding: 10px;
	text-align: left;
	background: #1abc9c;
	color: white;
	margin-top: 0px;
	height: 80px;
}
header span#title {
	font-style: italic;
	font-size: 30px;
	font-weight: bold;
}
header span#tag {
	padding: 30px;
	font-size: 20px;
	font-weight: bold;
}
nav {
	border: 1px;
	background-color: black;
	color: white;
	padding: 6px;
}
nav#links a {
	text-decoration: none;
	color: white;
	font-size: 17px;
	padding-right: 170px;
	padding-left: 170px;
	
	font-weight: bold;
}
article#main {
	width: 80%;
	float: right;

}
aside {
	width: 20%;
	float: left;

}
ul a {
	font-size: 20px;
	padding: 10px;
}
ul
 {
	line-height: 30px;
}
img#lnkimg
 {
  height: 50px;
  width: 50px;
  padding-right: 10px;
}
h1#name
 {
	color: maroon;
	font-style: italic;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 10px;
}
figcaption
{
	text-decoration: underline;
}
 table, th, td
 {
	padding: 5px;
}
img#i1
 {
   height: 200px;
   width: 300px;
}
p#para
{
	text-align:justify;
	margin: 0px;
	font-size: 20px;
    line-height: 30px;
}
div#article
{
 column-count: 2;
 column-gap: 30px;
 padding: 10px;
}
section::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: #1abc9c;
  height: 50px;
  padding: 10px;
  text-align: left;
  color: white;
 }
table caption
{
	font-weight: bold;
}









